
.banner{
    background: url(../imagens/banner-image.png) no-repeat ;
    background-size: 100% auto;
    height: 300px;
    position: relative;
} 
.banner__conteudo{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 115px;
}
.banner__titulo{
    color: white;
    font-size: 2.75rem;
    font-weight: bolder;
}
.banner__descriscao{
    color: white;
}
.banner__botao-console{
    color: white;
    padding: 1rem;
    border: none;
    background-color: blue;
}
/* Versão Tablet */
@media screen and (max-width:768px) {
    .banner{
     height: 352px;
     background-color: none;
     background-size: 100% 352px;
    }
    .banner__conteudo{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        height: 150px;
        justify-content: space-around;
    }
    .banner__botao-console{
        width: 150px;
    }
}
/* versão mobile */
@media screen {
    .banner{
    height: 300px;
    }
    .banner__conteudo{
        width: 100%;
    }
    .banner__titulo{
        font-size: 32px;
    }
}