
.cabeçalho{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem;
   
    
}


.cabeçalho__conteuco-1{
    display: flex;
    align-items: center;
}

.cabeçalho__campo-pesquisa{
    background: url(../imagens/lupa2.png)  #f5f5f5 no-repeat center right;
    padding: 5px;
    background-color: 10px;
    padding-right: 15px;
    margin-left: 2rem;
    border-radius: 14px;
    width: 100%;
    border: none;
 
}



.cabeçalho__botao-login{
   border: 1px solid blue;
   background-color: white;
   color: blue;
   padding: .6rem;
   padding: 12px 50px;
   cursor: pointer;
}
/* Versão mobile */
@media screen and (max-width:480px){

    .cabeçalho__campo-pesquisa{
        position: relative;
        width: 20px;
        transition: all 0.5s linear;
        background-color: none;
        z-index: 4;
    }
    .cabeçalho__campo-pesquisa:focus{
        width: 100%;
        outline: none; 

    }
}
